a {
  color: inherit;
  text-decoration: none;
}
a:hover h5 {
  text-decoration: underline;
}

h5 {
  color: white;
  margin-bottom: 0.75rem;
}

img {
  height: 222px;
  object-fit: contain;
  border-radius: 5px;
  background-color: black;
}
