<div class="container mt-3">
  <div class="row ">

    <section class="col-12 col-lg-8 ">
      <div class=" pl-3 pt-2 pb-2 text-white">
        <h4 class="border-bottom border-white">EN SON HABERLER</h4>
      </div>

      <article class="card mb-3 col-12 border border-dark" *ngFor="let entry of blogEntries">
        <div class="row">
          <div class="col-7">
            <div class="card-body">
              <a href="#" class="stretched-link" [routerLink]="['/blog', entry.id, entry.headline]"
                routerLinkActive="router-link-active">
                <strong class="d-inline-block mb-2 text-primary col-12 col-md-5">{{entry.topicName |uppercase}}</strong>
                <span class="ml-md-7 mb-4 font-italic col-12 col-md-9">{{entry.writerName}}
                  {{entry.writerSurname}}</span>
                <h5 class="card-title">{{entry.headline}}</h5>
                <p class="card-text">{{entry.createdDate | date}}</p>
                <p class="card-text">{{entry.subHeadline }}</p>
              </a>
            </div>
          </div>
          <div class="col-5 p-2">
            <img class="card-img" src={{entry.photoUrl}} alt="{{entry.headline}}">
          </div>
        </div>
      </article>

      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

      </pagination>
    </section>

    <section class="col-12 col-lg-4 border bg-light rounded p-4 ">
      <app-blog-most-read></app-blog-most-read>
    </section>

  </div>
</div>