nav {
    background-color:black;
    color: white;
    font-size: 20px;
}

header time{
    color: blanchedalmond;
}

header a {
    padding: 5px;
    color: blanchedalmond;
    text-decoration: none;
}

header img {
    height: 100px;
}
header a:hover{
    background-color: blanchedalmond;
    color: black;
}


 header div.logo-a a:hover{
    background-color: inherit;
} 

#mobile-a:hover {
    background-color: inherit;
}


nav a {
    padding: 5px;
    color: inherit;
    text-decoration: none;
}
nav a:hover{
    background-color: blanchedalmond;
    color: black;
}

