<div class="container bg-light rounded pt-4 pb-4">
  <div class="blog-main">
    <div class="blog-post p-4">
      <h4 class="blog-post-title mb-3">HAKKIMDA</h4>
      <h6 class="blog-post-meta">Ben Kimim?</h6>
      <p>Merhaba sevgili mandallar. Ben <strong> Tugay Mandal</strong>. 94 doğumluyum. Bundan sonra siz
        <strong>Mandalium</strong>
        okurlarına mandallar diye hitap edeceğim. </p>
      <p>Öncelikle size bu blog vari siteyi neden açtığımdan bahsedeyim. Doğru bildiniz tamamiyle can sıkıntısı ve vakit
        geçirmek amacıyla. Şu işsizlik başa bela haksız mıyım? Maden vakit bol bende siz mandallarla kenarda köşede
        gördüğüm değişik haberleri ve düşüncelerimi paylaşayım dedim. Birde tabiki Mandalium'u bir değer olarak
        tanıtmaya başlamak. Sizde göreceksiniz mesela MandaliumGames çalışmaya başladı.</p>
      <p> Boş vakitlerimde oyun oynamayı, kitap okumayı ve yürüyüş yapmayı seviyorum.</p>
      <h6>Çalışma Alanım</h6>
      <p>Çalışma alanıma gelecek olursak web ve oyun yapımı üzerine çalışıyorum. Bir gün herkesin oynadığı bir oyunu
        piyasaya süreceğim göreceksiniz ;).
        Peki diyorsunuz bu endüstri mühendisi nasıl oldu da webden oyun geliştiriciliğinden bahsediyor. Ah size
        geçmişimden bahsetmeyi unutmuşum.
      </p>
      <p>Benim serüvenim İzmir'de başlıyor. Küçüklüğümün büyük kısmı bu güzel şehirde geçti. Ortaokulu bitirdiğim
        seneden ise İstanbul'da serüvenime devam ediyorum</p>
      <h6>Eğitim</h6>
      <p>Ortaokul liseden çok bahsetmeyelim. İstanbul Aydın Üniversitesi İngilizce Endüstri Mühendisliğinden mezun
        oldum. İyi derecede İngilizce bilgisine sahibim.
        Üniversiteye başladığımdan beri hep yazılım alanına ilgim vardı fakat bir türlü buraya yönelemiyordum. Çeşitli
        kurslara katılmıştım fakat çok faydaları olmadı.
        Neyse gel zaman git zaman üniversite bitti çalışmaya başladım. Fakat gördüm ki ben her gün aynı rutin işi
        yapamayacağım. Hal böyle olunca koydum kafaya ben yönü yazılıma çevireceğim diye.
        Böylece nitelikli bilişim uzmanı yetiştirme kurslarına katıldım ve web üzerine dersler aldım. C# üzerine aldığım
        derslerdende faydalanarak kendimi oyun alanında geliştirmeye başladım. Hatta Google Play Store ilk oyunumu
        yükledim bile. Denemek isterseniz linki vereyim.
      </p>
      <h6><a href="https://play.google.com/store/apps/details?id=com.MandaliumGames.SpaceClimber">Space Climber</a></h6>
      <p>Kısaca bahsetmek gerekirse endless runner tarzı arcade uzay oyunu.</p>
      <p>Çalışma alanına gelecek olursak üniversite yıllarımda <strong>Dolmabahçe Sarayında Gönüllü Rehberlik
          yaptım</strong>. Mezuniyetimden sonraysa <strong>Finansal Analist ve Proje Mühendisi</strong> olarak çalıştım.
        Şu andaysa
        askerliği beklerken kendi halimde oyun geliştiriyorum ve sizlere bu siteyi sunuyorum.</p>
      <p>Birlikte güzel vakit geçirmek dileğiyle merhaba.</p>

    </div><!-- /.blog-post -->
  </div>
</div>