<div class="container mt-3">
  <div class="row ">
    <section  class="col-12 col-lg-8 ">
      <!--   home component -->
      <router-outlet></router-outlet>

    </section>

    <section class="col-12 col-lg-4 border bg-light rounded p-4 ">
      
      <!-- <iframe width="auto" height="auto" src="https://www.youtube.com/embed/PSoOFn3wQV4" frameborder="10"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <app-blog-most-read></app-blog-most-read>
    </section>
  </div>
</div>


