<div class="container mt-3 border rounded" id="profile">
  <div class="row ">
    <div class="row col-12 col-md-4 p-2 d-flex justify-content-center align-self-center ">
      <h4 class="d-flex justify-content-center font-italic pt-2 col-12">{{user.name |uppercase}}
        {{user.surname |uppercase}}</h4>
      <small class="font-italic d-flex justify-content-center justify-content-md-end  mr-3 col-12"> <i
          class="fa fa-birthday-cake fa-fw fa-fg"></i> {{user.birthDate | date}}</small>
      <img src="{{user.photoUrl}}" alt="writer photo" class="img-thumbnail rounded col-11">
      <div class="container mt-3 text-center" >
        <button type="button" class="ml-1 btn btn-dark col-7 mt-1 text-light"
          (click)="userProfilePhotoUpdate = !userProfilePhotoUpdate"><i class="fa fa-image fa-fw fa-fg"></i>
          Fotoğrafı Güncelle</button>
        <button type="button" class="ml-1 btn btn-primary col-7 mt-1" (click)="openUpdateProfile()"><i
            class="fa fa-id-badge fa-fw fa-fg"></i>Profili Güncelle</button>
        <a class="ml-1 btn btn-success col-7 mt-1" style="cursor: pointer;" *ngIf="authService.decodedToken.role == 1" [routerLink]="['/create']"
          (click)="changeEntry(0)"><i class="fa fa-plus-square fa-fw fa-fg text-light "></i>YENİ YAZI</a>
        <button type="button" class="ml-1 btn btn-danger col-7 mt-1" *ngIf="authService.decodedToken.role == 1" (click)="openPosts()"><i
            class="fa fa-clipboard fa-fw fa-fg text-light "></i>YAZILARIMI GÖSTER</button>
      </div>

    </div>
    <div class=" col-12 col-md-8 mt-5 align-self-center">
      <div>
        <p>{{user.background}}</p>
      </div>
    </div>

  </div>
</div>
<form (ngSubmit)="updateProfilePhoto()" [collapse]="!userProfilePhotoUpdate" [isAnimated]="true">
  <div class="container mt-2">
    <div class="row form-group">
      <label class="col-12 col-md-4" for="file">Fotoğraf seçin ya da aşağıya url adresi girin.</label>
      <input class="col-12 col-md-8 btn btn-primary" type="file" (change)="onFileChanged($event)" name="file" id="file">
    </div>

    <div class="row justify-content-end form-submit mb-2">
      <button class="btn btn-success" type="submit">
        Kaydet
      </button>
    </div>
  </div>
</form>


<div class="container mt-3" [collapse]='!userUpdateOpen' [isAnimated]="true" id="userForm">
  <form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <h4>Profili Güncelle</h4>
    <div class="row form-group">
      <label class="col-4" for="namechange">İsim: </label>
      <input class="col-8 form-control " type="text" formControlName="name" id="namechange" required>
    </div>

    <div class="row form-group">
      <label class="col-4" for="surnamechange">Soyisim: </label>
      <input class="col-8 form-control" type="text" formControlName="surname" id="surnamechange" required>
    </div>

    <div class="row form-group">
      <label class="col-4" for="birthdatechange">Doğum Tarihi: </label>
      <input class="col-8 form-control" placeholder="Doğum Tarihi" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
        bsDatepicker type="date" formControlName="birthdate" id="birthdatechange" required>
    </div>

    <div class="row form-group">
      <label class="col-12 col-md-4" for="backgroundchange">Hakkında: </label>
      <textarea class="col-12 col-md-8 " type="textarea" formControlName="background" id="backgroundchange" cols="120"
        rows="10"></textarea>
    </div>

    <div class="row justify-content-end form-submit">
      <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">
        Kaydet
      </button>
    </div>


  </form>
</div>






<!-- My posts -->
<div class="container" [collapse]="!postsOpen" [isAnimated]="true">
  <div class=" pl-3 mt-3 pb-2 text-white">
    <h4 class="border-bottom border-white">YAZILARIM</h4>
  </div>

  <article class="card mb-3 col-12 " *ngFor="let entry of blogEntries">
    <div class="row">
      <div class="col-6">
        <div class="card-body">
          <a href="#" class="stretched-link" [routerLink]="['/blog', entry.id, entry.headline]"
            routerLinkActive="router-link-active">
            <strong class="d-inline-block mb-2 text-primary"> {{entry.topicName |uppercase}}</strong> <span
              class="ml-5 font-italic">{{entry.writerName}} {{entry.writerSurname}}</span>
            <h5 class="card-title">{{entry.headline}}</h5>
            <p class="card-text">{{entry.createdDate | date}}</p>
            <p class="card-text">{{entry.subHeadline }}</p>
          </a>
        </div>
      </div>
      <div class="col-6 col-lg-5 p-2">
        <img class="card-img" src={{entry.photoUrl}} alt="{{entry.headline}}">
      </div>
      <div class="col-12 col-lg-1 p-1 align-self-center">
        <a class="col-12 btn btn-warning text-light btn-block " (click)="changeEntry(entry.id)">DEĞİŞTİR</a>
        <a class="col-12 btn btn-primary text-light btn-block " (click)="deleteBlogEntry(entry.id)">Sil</a>
      </div>
    </div>
  </article>

  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>


</div>