a {
  text-decoration: none;
  color: black;
}


a:hover h5 {
  text-decoration: underline;
}

img {
  height: auto;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

article a {
  color: inherit;
}

input {
  background-color: black;
  color: white;
}

textarea {
  background-color: black;
  color: white;
}
