/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/cyborg/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

body {
   /* background-color: rgb(0, 0, 26);  */
   background-color: #212226;
  
  /* background-color: #333; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
}

.ck-content {
  background: black !important;
  color: white;
  padding: 0px;
  min-height: 500px;
}

.ck-editor__editable_inline h2,.ck-editor__editable_inline h3,.ck-editor__editable_inline h4 {
  color: red;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}




.title-inner{
  color: white !important;
  background-color: #1a8dff;
  font-weight: 600;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding: 14px 20px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-bottom: 0px !important;
}

.title-top{
  border-bottom: 2px solid  #1a8dff;
  margin-top: 10px;
  margin-bottom: 20px;
}


hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color:#2d2e33 ;
}
