<div>

  <div class="title-top ">
    <h4 class="title-inner">YORUMLAR</h4>
  </div>


  <h4 class="p-4" *ngIf="isArray(commentList.result) && commentList.result.length === 0 ">Henüz yorum yok. İlk Yorumu sen bırak.</h4>

  <div class="row col-12 comment" *ngFor="let comment of commentList.result">
    <div class="col-4 comment-commenter">
      <h6>{{comment.commenterName}}</h6>
      <img class="img-comment" src="{{comment.photoUrl == null ?  defaultPhotoUrl : comment.photoUrl}}">
      <time class="time-comment">Yorum Tarihi: {{comment.createdDate| date:'shortDate'}}</time>
    </div>
    <div class="col-8">
      {{comment.commentString}}
    </div>
  </div>

  <pagination [boundaryLinks]="true" [totalItems]="commentList.pagination.totalItems" [itemsPerPage]="commentList.pagination.itemsPerPage"
    [(ngModel)]="commentList.pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>



<div class="title-top">
  <h4 class="title-inner">YORUM YAP</h4>
</div>

<div class="row">
  <form class="p-4 mr-3" [formGroup]="commentFormGroup" (ngSubmit)="writeComment()" autocomplete="off">
    <div *ngIf="!authService.loggedIn()">
      <div class="row form-group">
        <label class="col-4" for="email">Email: </label>
        <input maxlength="100"
          [ngClass]="{'is-invalid': commentFormGroup.get('email').errors && commentFormGroup.get('email').touched}"
          class="col-8 " type="email" formControlName="email" id="email">
        <div class="invalid-feedback text-right pt-2">Lütfen mail adresinizi girin.</div>
      </div>

      <div class="row form-group">
        <label class="col-4" for="commenterName">İsminiz:</label>
        <input maxlength="100"
          [ngClass]="{'is-invalid': commentFormGroup.get('commenterName').errors && commentFormGroup.get('commenterName').touched}"
          class="col-8 " type="text" formControlName="commenterName" id="commenterName">
        <div class="invalid-feedback text-right pt-2">Lütfen isminizi girin.</div>
      </div>

    </div>


    <div class="row justify-content-center form-group">
      <label class="col-12 col-md-4">Yorum:</label>
      <textarea maxlength="500"
        [ngClass]="{'is-invalid': commentFormGroup.get('commentString').errors && commentFormGroup.get('commentString').touched}"
        formControlName="commentString" class="col-12 col-md-8" name="commentString" id="commentString" cols="120"
        rows="5"></textarea>
      <div class="invalid-feedback text-right pt-2">Lütfen yorumunuzu girin.</div>
    </div>

    <div class="row justify-content-end form-submit">
      <button class="btn btn-success" type="submit" [disabled]="!commentFormGroup.valid">
        Kaydet
      </button>
    </div>

  </form>
</div>
