<form [formGroup]="createBlogPost" (ngSubmit)="createPost()">
  <h4>Create Blog Post</h4>
  <div class="row form-group">
    <label class="col-4" for="headline">Headline: </label>
    <input class="col-8 " type="text" formControlName="headline" id="headline" required>
  </div>

  <div class="row form-group">
    <label class="col-4" for="subHeadline">SubHeadline:</label>
    <input class="col-8 " type="text" formControlName="subHeadline" id="subHeadline" required>
  </div>

  <div class="row form-group ">
    <button class="btn btn-dark bg-dark text-light" (click)="innerTextHtml= innerTextHtml +'<h1></h1>'" >h1</button>
    <button class="btn btn-dark bg-dark text-light" (click)="innerTextHtml= innerTextHtml +'<h2></h2>'" >h2</button>
    <button class="btn btn-dark bg-dark text-light" (click)="innerTextHtml= innerTextHtml +'<h3></h3>'" >h3</button>
    
  </div>

  <div class="row form-group">
    <h5 class="col-12">Inner Text HTML:</h5>
    <textarea formControlName="innerTextHtml" [(ngModel)]="innerTextHtml"  (ngform)="getInnerHtml($event)" class="col-12"   name="" id="textarea" cols="120" rows="10" required></textarea>
  </div>

  <div class="row form-group">
    <label class="col-4" for="photoUrl">PhotoUrl:</label>
    <input class="col-8 " type="text" formControlName="photoUrl" id="photoUrl" required>
  </div>

  <div class="row d-flex justify-content-between form-group">
    <label class="col-4" for="writerId">Writer:</label>
    <select class="col-4 " formControlName="writerId" id="writerId" required>
    <option *ngFor="let writer of writers" value="{{writer.id}}">{{writer.name}} {{writer.surname}}</option>
    </select>
  </div>

  <div class="row d-flex justify-content-between form-group">
    <label class="col-4" for="topicId">Topic:</label>
    <select class="col-4" formControlName="topicId" id="topicId" required>
    <option *ngFor="let topic of topics" value="{{topic.id}}" >{{topic.topicName}}</option>
    </select>
  </div>

  <div class="row d-flex justify-content-between form-group">
    <label class="col-4" for="topicId">Writer Content:</label>
    <select class="col-4" formControlName="writerEntry" id="writerEntry" required>
    <option  value="true" >True</option>
    <option  value="false" >False</option>
    </select>
  </div>
  
  
  
  <div class="row justify-content-end form-submit">
    <button class="btn btn-success" type="submit" [disabled]="!createBlogPost.valid">
      Kaydet
    </button>
  </div>

</form>

<h5>Inner Text</h5>
<div class="row border border-dark" [innerHTML]="innerTextHtml">
</div>
