<div class="container mt-3">
  <div class="row ">
    <section class="col-12 col-lg-8 ">
     
<div class="container bg-light rounded pt-4 pb-4">
  <article class="blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{blogEntry.headline}}</h2>
      <h5 class="text-dark">{{blogEntry.subHeadline}}</h5>
      <p class="blog-post-meta">{{blogEntry.createdDate | date:('mediumDate')}}, Yazar: <a [routerLink]="['/about']"
          routerLinkActive="router-link-active">{{blogEntry.writerName}}
          {{blogEntry.writerSurname}}</a></p>
          <div class="row mb-3">
          <img class="col-12 rounded" src="{{blogEntry.photoUrl}}" alt="{{blogEntry.headline}}">
          </div>
         
      
      <div [innerHTML]=blogEntry.innerTextHtml></div>
    </div>
  </article>
</div>
<div>
  <h4 id="yorum" class="mt-3 p-2 border-bottom border-top">Yorumlar</h4>

  <h5 class="p-4" *ngIf="blogEntry.comments[0]== null">Henüz yorum yok. İlk Yorumu sen bırak.</h5>

  <div class="card mb-1 col-12 " *ngFor="let comment of blogEntry.comments">
    <div class="row">
      <div class="card-body">
        <div class="col-12 d-flex ">
          <h6 class="col-6 border-bottom text-white d-inline pl-5 pt-2">{{comment.commenterName}}</h6>
          <div class="col-6 d-flex justify-content-end">
            <time class="text-white  pl-5 pr-2 pt-2 ">Tarih: {{comment.createdDate| date:'shortDate' }}</time>
          </div>

        </div>
        <div class="col-12">
          <p class="border border-dark rounded p-3">{{comment.commentString}}</p>
        </div>

      </div>
    </div>
  </div>

  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>

<div class="container">
  <h4 class="p-2 border-bottom">Yorum Yap</h4>



  <div class="row">
    <form class="p-4 mr-3" [formGroup]="commentFormGroup" (ngSubmit)="writeComment()">
      <div *ngIf="!authService.loggedIn()">
        <div class="row form-group">
          <label class="col-4" for="email">Email: </label>
          <input maxlength="100"
            [ngClass]="{'is-invalid': commentFormGroup.get('email').errors && commentFormGroup.get('email').touched}"
            class="col-8 " type="email" formControlName="email" id="email">
          <div class="invalid-feedback text-right pt-2">Lütfen mail adresinizi girin.</div>
        </div>
  
        <div class="row form-group">
          <label class="col-4" for="commenterName">İsminiz:</label>
          <input maxlength="100"
            [ngClass]="{'is-invalid': commentFormGroup.get('commenterName').errors && commentFormGroup.get('commenterName').touched}"
            class="col-8 " type="text" formControlName="commenterName" id="commenterName">
          <div class="invalid-feedback text-right pt-2">Lütfen isminizi girin.</div>
        </div>
  
      </div>
      

      <div class="row justify-content-center form-group">
        <label class="col-4">Yorumunuz:</label>
        <textarea maxlength="500"
          [ngClass]="{'is-invalid': commentFormGroup.get('commentString').errors && commentFormGroup.get('commentString').touched}"
          formControlName="commentString" class="col-8" name="commentString" id="commentString" cols="120"
          rows="5"></textarea>
        <div class="invalid-feedback text-right pt-2">Lütfen yorumunuzu girin.</div>
      </div>

      <div class="row justify-content-end form-submit">
        <button class="btn btn-success" type="submit" [disabled]="!commentFormGroup.valid">
          Kaydet
        </button>
      </div>

    </form>
  </div>
</div>
    </section>

    <section class="col-12 col-lg-4 border bg-light rounded p-4 ">
      <app-blog-most-read></app-blog-most-read>
    </section>
  </div>
</div>

