input {
  background-color: black;
  color: white;
}

textarea {
  background-color: black;
  color: white;
}

img {
  object-fit: contain;
  background-color: black;
  border-radius: 0.25rem;
}

h2 {
  font-weight: bolder;
}

h5 {
    font-style: italic;
    color: #0099ff;
    font-weight: 500;
}
