<div class=container>
  <div class="rounded pb-4">
    <article>
      <h1>{{blogEntry.headline}}</h1>
      <h5>{{blogEntry.subHeadline}}</h5>
      <p>{{blogEntry.createdDate | date:('mediumDate')}}, Yazar: <a [routerLink]="['/about']"
          routerLinkActive="router-link-active" fragment="writername-{{blogEntry.writerId}}">{{blogEntry.writerName}}
          {{blogEntry.writerSurname}}</a></p>
      <div class="row mb-3">
        <img class="col-12" src="{{blogEntry.photoUrl}}" alt="{{blogEntry.headline}}">
      </div>
      <div [innerHTML]=blogEntry.innerTextHtml></div>
    </article>
  </div>
  <app-blog-comments></app-blog-comments>
</div>
