input {
  background-color: black;
  color: white;
}

textarea {
  background-color: black;
  color: white;
}

img {
  object-fit: contain;
  background-color: black;
  border-radius: 0.25rem;
}


h2 {
  font-weight: bolder;
}

h5 {
    font-style: italic;
    color: #0099ff;
    font-weight: 500;
}

.comment{
    padding: 1rem !important;
    margin-bottom: 0.25rem !important;
    background-color: #222 !important;
}

.img-comment{
    object-fit: contain;
    background-color: black;
    width: 100px;
}

.time-comment{
    display: block;
    font-weight: 500;
    margin-top: 0.75rem !important;
}

.comment-commenter{
    border-right: 1px solid #484b52;
    text-align: center !important;
    margin-top: 0.50rem;
}
