input{
    background-color: black;
    color: white; 
}

textarea {
    background-color: black;
    color: white;
}

img {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 0px;
}